<div class="container-fluid">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias assumenda,
    cum eligendi ipsam iste iure labore laborum magnam maxime modi, nihil nulla perferendis
    quidem quo quos soluta unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Architecto beatae cumque delectus, ex illum ipsa minima neque nisi recusandae! A ad dignissimos
    laboriosam maiores minus officiis omnis pariatur perspiciatis, quas.</p>
</div>